doctype html
html
  head
    meta(charset='utf-8')
    title WildHacks NU
    link(rel="icon" type="image/png" href="/images/favicon-64.png")
    link(rel="icon" type="image/png" href="/images/favicon-32.png")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,100italic,300italic,400italic', rel='stylesheet', type='text/css')
    // bower:css
    // endbower
    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
    
  body
  
    // Warn folks if they be too old school for us new kids.
    != "<!--[if lt IE 10]>"
    p.browsehappy
      | You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    != "<![endif]-->"
    
    #home-page
      .screen
        .row
          .row
            .col-xs-12.col-md-8.col-md-offset-2.margin-top-5p
              img(src='images/wildhacks.png', width='25%', style='margin: 0 auto').img.img-responsive
              h1.text-50x.text-white.text-light.text-shadow-2x.line-height-50x
                span.text-white.text-50x.text-bold WILD
                |HACKS
              h1.text-white.text-30x.text-normal.text-shadow-2x.text-upper Northwestern's largest Intercollegiate hackathon
              h1.text-white.text-35x.text-normal.text-shadow-2x November 22-23 2014
              h3.text-white.text-normal.text-shadow-2x Norris University Center | 1999 Campus Dr, Evanston, IL 60208
          .row
            .col-md-4.col-md-offset-2.text-center.margin-top-5p
              a.btn.btn-primary.btn-square.btn-lg.btn-transparent.padding-top-3p.padding-bottom-5p.padding-left-20p.padding-right-20p.text-center(data-toggle='modal', data-target='#myModal')
                h1.text-center.text-65x.line-height-10x.text-white.text-bold.text-shadow-2x ATTEND
            .col-md-4.text-center.margin-top-5p
              a.btn.btn-primary.btn-square.btn-lg.btn-transparent.padding-top-3p.padding-bottom-5p.padding-left-20p.padding-right-20p.text-center(data-toggle='modal', data-target='#myModal2')
                h1.text-center.text-65x.line-height-10x.text-white.text-bold.text-shadow-2x SPONSOR
          .row(style='padding-top: 50px')
            .col-md-12.margin-top-3p
              h1.text-dark-green.text-shadow-2x.text-20x.text-bold
                | Hosted by:
          .row.margin-top-1p
            .col-xs-2.col-xs-offset-4.margin
              a(href='http://www.nuisepic.com', target='_blank')
                img.img-responsive.margin-center(src='images/EPIC-Icon-1.png', 
                                                 alt='EPiC Logo',
                                                 width='100px',
                                                 style='padding-top:7px')
            .col-xs-2
              a(href='https://www.facebook.com/HackNorthwestern?fref=ts', target='_blank')
                img.img-responsive.margin-center(src='images/HN-Icon.png', 
                                   alt='HackNU Logo',
                                   width='100px',
                                   style='padding-bottom: 50px')
    .bg-black(style="padding: 3% 0")
      .width-85p.margin-center.padding-bottom-3p.padding-top-3p
        .row
          .col-md-12
            h1.text-dark-green.text-35x.text-bold
              | Wanted:
            h1.text-white.text-35x.text-normal  
              span.text-dark-green.text-35x.text-normal E
              |ntrepreneurs. 
              span.text-dark-green.text-35x.text-normal P
              |ioneers. 
              span.text-dark-green.text-35x.text-normal I
              |nnovators. 
              span.text-dark-green.text-35x.text-normal C
              |reators.
          .col-md-8.col-md-offset-2.margin-top-1p
            h3.text-white 
              span.text-dark-green(style='font-size: 20px') EPIC
              |'s mission at Northwestern University is to empower 
              | the next generation of entrepreneurs. We understand what 
              | it's like to have a thirst for solving problems. We've 
              | seen firsthand what teams of motivated individuals can 
              | pull out of thin air in little time and under intense 
              | pressure. 
          .col-md-8.col-md-offset-2.margin-top-1p
            h3.text-white 
              | We make it our mission to support students 
              | applying their skills in creating tangible solutions to 
              | real-world problems.
          .col-md-8.col-md-offset-2.margin-top-1p
            h3.text-white
              | So come join us in November as we host hundreds of hackers 
              | competing against each other for cash prizes while united 
              | in their desire to turn visions into reality.
          .col-md-8.col-md-offset-2.margin-top-1p
            h2.text-white.text-bold.text-upper
              | Come build something great. Come be EPIC.
    .bg-dark-green
      .width-85p.margin-center.padding-bottom-3p.padding-top-3p
        .row
          h1.boldh.text-white The Sponsors Powering WildHacks
          .sponsors
            each h,i in headlinesponsors
              if i%3 === 0
                .break-row
              .sponsor
                a(href="http://#{h.substring(h.lastIndexOf('/')+1,h.lastIndexOf('.'))}"
                  , target="_blank") 
                  img(src="#{h}")
          hr
          .sponsors
            each s,i in sponsors
              if i%3 === 0
                .break-row
              .sponsor
                a(href="http://#{s.substring(s.lastIndexOf('/')+1,s.lastIndexOf('.'))}"
                  , target="_blank") 
                  img(src="#{s}")
          hr
          .sponsors
            each s,i in inkindsponsors
              if i%3 === 0
                .break-row
              .sponsor
                a(href="http://#{s.substring(s.lastIndexOf('/')+1,s.lastIndexOf('.'))}"
                  , target="_blank") 
                  img(src="#{s}")
          h1.boldh.text-white And Special Thanks To Our Partners
          .sponsors
            each s,i in partners
              if i%3 === 0
                .break-row
              .sponsor
                a(href="http://#{s.substring(s.lastIndexOf('/')+1,s.lastIndexOf('.'))}"
                  , target="_blank") 
                  img(src="#{s}")

    .width-100p.bg-black(style="padding-top: 4%")
      .width-85p.margin-center
        .row
          .col-md-12.margin-top-3p
            h3.text-normal.text-dark-green.text-30x  FREQUENTLY ASKED QUESTIONS
        #faq-page.margin-top-5p
          .faq-wrapper
            #faqs
              h3.text-upper.text-white-hover.text-20 Who can attend?
              div
                h4.text-white
                  | Any and all university students from across the country are welcome. 
                  | If you are a high school student and want to attend, please send an 
                  | email to 
                  a(href='mailto:team@wildhacks.org' style="color:rgb(122,201,215) !important; font-size:16px; color:#FFF") team@wildhacks.org.
              h3.text-upper.text-white-hover.text-20 How much does the event cost?
              div
                h4.text-white
                  | Zilch. There is no application, registration, or event fee. We will 
                  | provide meals, drinks, and snacks for the entirety of the event.
              h3.text-upper.text-white-hover.text-20 What&apos;s the format of the hackathon?
              div
                h4.text-white
                  | The hackathon will last 24 hours during which teams and individuals 
                  | will work to create web, desktop, and mobile computer projects.
              h3.text-upper.text-white-hover.text-20 How big should teams be? Can I do it alone?
              div
                h4.text-white
                  | Teams can be up to four people. You can certainly go it alone, 
                  | but if you are seeking a team, we&apos;ll provide resources prior 
                  | to the event to help you find a team with a project you&apos;re 
                  | interested in working on.
              h3.text-upper.text-white-hover.text-20 What should I bring?
              div
                h4.text-white
                  | Bring your laptop and laptop charger, a valid student ID (the name on 
                  | it should match the name with which you register for the event), and, 
                  | of course, your vast intellect. Do not bring alcohol, other drugs, 
                  | or anything that would get you in trouble if you were to pass through 
                  | airport security with it (knives, etc.).
              h3.text-upper.text-white-hover.text-20 How do I apply?
              div
                h4.text-white
                  | Simply click on the application link and complete the application. 
                  | Make sure to apply with your .edu email address.
              h3.text-upper.text-white-hover.text-20
                | Are we allowed to build on past projects? Can I start working on 
                | my idea before the event?
              div
                h4.text-white
                  | Building on past projects is strongly discouraged; in fact, 
                  | we ask that you inform us if you will be using a significant amount 
                  | of old code. Third-party APIs and libraries are fair game, though, so 
                  | long as they are publicly and widely available.
              h3.text-upper.text-white-hover.text-20 How does the judging work?
              div
                h4.text-white
                  | The categories for judging and prizes will be: creativity, polish, 
                  | and usefulness. There will also likely be a category for the &apos;people&apos;s 
                  | choice&apos;. There will be a preliminary round of judging in which all projects 
                  | will be presented simultaneously in the spirit of a science-fair. Judges will 
                  | circulate during this time and select groups to push through to the final round of 
                  | judging, which will take place in a stage in front of a large audience.
               h3.text-upper.text-white-hover.text-20
                | Will WildHacks be reimbursing travel to the hackathon?
              div
                h4.text-white
                  |Unfortunately, it does not look like we are going to be able to provide travel reimbursement. We may be sending busses to select universities nearby - please contact us at 
                  a(href='mailto:team@wildhacks.org' style="color:rgb(122,201,215) !important; font-size:16px; color:#FFF") team@wildhacks.org 
                  | if you think you would be a good school to send a bus to. 
              h3.text-upper.text-white-hover.text-20 
                    | I have a question that isn&apos;t listed here. Whom should I ask?
              div
                h4.text-white 
                  | Please email any questions to 
                  a(href='mailto:team@wildhacks.org' style="color:rgb(122,201,215) !important; font-size:16px; color:#FFF") team@wildhacks.org
              // end FAQ wrapper
            // end FAQ
          // end col-md-4
      .footer-pg
        .row
          .col-md-12.text-center
            a.text-center.lsf-icon.text-white-hover.text-40x(
              href='https://www.facebook.com/nuisepic', 
              target='_blank', 
              title='facebook')
            a.text-center.lsf-icon.text-white-hover.text-40x(
              href='https://twitter.com/NUWildHacks', 
              target='_blank', 
              title='twitter')
            a.text-center.lsf-icon.text-white-hover.text-40x(
              href='http://www.linkedin.com/groups?gid=3277&mostPopular=&trk=tyah&trkInfo=tas%3Aepic%20no%2Cidx%3A2-1-4', 
              target='_blank', 
              title='linkedin')
            a.text-center.lsf-icon.text-white-hover.text-40x(
              href='mailto:team@wildhacks.org', 
              target='_blank', 
              title='mail')
            // end col-md-12
          // end row
        br
        .row
          .col-md-8.col-md-offset-2
            a(href='http://www.nuisepic.com', target='_blank')
              img.img-responsive.width-15p.height-15p.margin-center(src='images/EPIC-Icon.png', alt='PP Logo')
            // end col-md-8
          // end row
        .row
          .col-md-8.col-md-offset-2
            h4.text-white(style='font-size:16px !important')  EPIC 2014 | Northwestern University | 2133 Sheridan Rd
            // col-md-8
          // end row
        // end footer-pg
      // Modal
      #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
              h3#myModalLabel.modal-title.text-center WildHacks Application 2014
            .modal-body
              iframe#hidden_iframe(name='hidden_iframe', style='display:none;', onload="if(window.submitted) { window.location='index.html'; alert('Your application has been submitted. Thank you.'); }")
              form#ss-form(action='https://docs.google.com/forms/d/18VozrYay19Vn4JY1WVUoa4fDgUSMiTQWrWKp5F2vukI/formResponse', 
                           method='POST', 
                           target='hidden_iframe', 
                           onsubmit='submitRegistration()')
                .row
                  .col-xs-2
                    h4.text-black.text-right Name*
                  .col-md-10
                    input#entry_145219669.form-control.text-left(type='text', 
                                                                 name='entry.145219669',
                                                                 value='', 
                                                                 dir='auto', 
                                                                 aria-label='Name  ', 
                                                                 aria-required='true', 
                                                                 required='', 
                                                                 title='')
                .row.margin-top-1p
                  .col-xs-2
                    h4.text-black.text-right Email*
                  .col-md-10
                    input#entry_2028281063.form-control.text-left(type='text', 
                                                                  name='entry.2028281063', 
                                                                  value='', 
                                                                  dir='auto', 
                                                                  aria-label='Email  ', 
                                                                  aria-required='true', 
                                                                  required='', 
                                                                  title='')
                .row.margin-top-1p
                  .col-xs-2
                    h4.text-black.text-right Major*
                  .col-md-10
                    input#entry_311216819.form-control.text-left(type='text', 
                                                                 name='entry.311216819', 
                                                                 value='', 
                                                                 dir='auto', 
                                                                 aria-label='Major  ', 
                                                                 aria-required='true', 
                                                                 required='', 
                                                                 title='')
                .row.margin-top-3p
                  .col-xs-2
                    h4.text-black.text-right Class*
                  .col-md-10
                    ul.ss-choices(role='radiogroup', aria-label='Class of   ')
                      li.ss-choice-item
                        span.ss-choice-item-control.goog-inline-block
                          input#group_2011215091_1.ss-q-radio(type='radio', 
                                                              name='entry.2011215091', 
                                                              value='2015', 
                                                              role='radio', 
                                                              aria-label='2015', 
                                                              required='', 
                                                              aria-required='true')
                        span.text-black.text-left  2015
                      li.ss-choice-item
                        span.ss-choice-item-control.goog-inline-block
                          input#group_2011215091_2.ss-q-radio(type='radio', 
                                                              name='entry.2011215091', 
                                                              value='2016', 
                                                              role='radio', 
                                                              aria-label='2016', 
                                                              required='', 
                                                              aria-required='true')
                        span.ss-choice-label 2016
                      li.ss-choice-item
                        span.ss-choice-item-control.goog-inline-block
                          input#group_2011215091_3.ss-q-radio(type='radio', 
                                                              name='entry.2011215091', 
                                                              value='2017', 
                                                              role='radio', 
                                                              aria-label='2017', 
                                                              required='', 
                                                              aria-required='true')
                        span.ss-choice-label 2017
                      li.ss-choice-item
                        span.ss-choice-item-control.goog-inline-block
                          input#group_2011215091_4.ss-q-radio(type='radio', 
                                                              name='entry.2011215091', 
                                                              value='Graduate student', 
                                                              role='radio', 
                                                              aria-label='Graduate student', 
                                                              required='', 
                                                              aria-required='true')
                        span.ss-choice-label Graduate student
                      li.ss-choice-item
                        span.ss-choice-item-control.goog-inline-block
                          input#group_2011215091_5.ss-q-radio.ss-q-other-toggle(type='radio', 
                                                                                name='entry.2011215091', 
                                                                                value='__other_option__', 
                                                                                role='radio', 
                                                                                required='', 
                                                                                aria-required='true')
                        span.ss-choice-label Other:
                        span.ss-q-other-container.goog-inline-block
                          input#entry_2011215091_other_option_response.ss-q-other(type='text', 
                                                                                  name='entry.2011215091.other_option_response', 
                                                                                  value='', 
                                                                                  dir='auto', 
                                                                                  aria-label='Other')
                .row.margin-top-1p
                  .col-xs-2
                    h4.text-black.text-right Team Code
                  .col-md-10
                    h5.text-black.text-left If you are planning to come as a team, please create a 5-digit team code (can be any 5 numbers, letters, or symbols), and enter it here. When your teammates apply, make sure they enter the same code.
                    input#entry_809742945.form-control.text-left(type='text',
                                                                 name='entry.809742945',
                                                                 value='',
                                                                 dir='auto',
                                                                 aria-label='Team Code If you are planning to come as a team, please create a 5-digit team code (can be any 5 numbers, letters, or symbols), and enter it here. When your teammates apply, make sure they enter the same code.',
                                                                 title='')
                .row.margin-top-1p
                  .col-xs-6
                    h4.text-black.text-right What state will you be coming from?
                  .col-md-6
                    input#entry_1046082049.form-control.text-left(type='text',
                                                                 name='entry.1046082049',
                                                                 value='',
                                                                 dir='auto',
                                                                 aria-label='What state will you be coming from?',
                                                                 title='')
                .row.margin-top-1p
                  .col-xs-2
                    h4.text-black.text-right GitHub
                  .col-md-10
                    input#entry_1905973906.form-control.text-left(type='text', 
                                                                  name='entry.1905973906', 
                                                                  value='', 
                                                                  dir='auto', 
                                                                  aria-label='Please provide a link to your GitHub account  ', 
                                                                  title='')
                .row.margin-top-1p
                  .col-xs-5
                    h4.text-black.text-center How did you hear about us?
                  .col-md-7
                    input#entry_3758719.form-control.text-left(type='text', 
                                                               name='entry.3758719', 
                                                               value='', 
                                                               dir='auto', 
                                                               aria-label='How did you hear about the event?  ', 
                                                               title='')
                input(type='hidden', name='draftResponse', value='[,,"-3392338432714119197"]')
                input(type='hidden', name='pageHistory', value='0')
                input(type='hidden', name='fbzx', value='-3392338432714119197')
                hr
                input#ss-submit.btn.btn-primary.btn-dark-green.pull-right(type='submit', name='submit', value='Submit')
                small.pull-right
                  i(style="font-size: inherit") If you're having trouble, 
                    a.act-like-a-link(href='mailto:team@wildhacks.org') email us
                    | !&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                br
                br
      #myModal2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(style='width:65%')
          .modal-content
            .modal-body
              button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
              iframe(src='https://drive.google.com/file/d/0B6yPAkPW0Jp1WG9Va3RNTXNCeFE', 
                     style='width:100%; height:600px;')
            .modal-footer
              a.btn.btn-default.btn-dark-green(href="mailto:team@wildhacks.org") Sponsor Us
              button.btn.btn-default.btn-dark-green(type='button', data-dismiss='modal') Close
  //build:js scripts/plugins.js
  script(src='bower_components/jquery/dist/jquery.js')
  script(src='bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js')
  //endbuild
  //build:js scripts/main.js
  script(src='scripts/main.js')
  //endbuild
  
  script.
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-43952603-2', 'auto');ga('send','pageview');
